@import './../../../scss/main';

.profilePage {
    padding: 1em;
    max-width: 960px; // 1280
    margin-left: auto;
    margin-right: auto;
}
.profilePage-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    font-family: $font;

    &-img {
        width: 5em;
        border-radius: $article-radius;
        align-self: center;
        margin-bottom: .4em;
    }
    &-name {
        font-size: 1.4rem;
        font-weight: 500;
    }
    &-email {
        font-size: .9rem;
        opacity: .9;
    }
    &-stats {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2em;

        div {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-weight: 500;

            label {
                color: rgb(126, 126, 126);
            }
        }
    }
}
.profilePage-comments {
    background-color: rgb(233, 233, 233);
    border-radius: $article-radius;
    overflow: hidden;

    &-panel {
        background-color: $color-surface;
        padding: .4em 1em;
        color: $color-light;
        font-weight: 500;
    }
}
.profileComment {
    background-color: $color-lightgray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: .6em 1em;
    
    
    &-commentInfo {
        display: flex;
        flex-direction: row;
        font-family: $font-roboto;
        color: gray;
        font-size: .9em;
        margin-top: .6em;
    }
    &-likeCount {
        margin-right: 2em;

        span {
            margin: 0;
            font-weight: 500;
            color: $color-surface;
        }
    }
    &-message {
        flex-grow: 1;
    }
}
.profileComment:nth-child(even) {
    background-color: white;
}


@media (min-width: 860px) {
    .profilePage-comments {
        margin-top: 2em;
    }
  }