@import './../../../scss/main';


#btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.btn {
    background-color: $color-lightgray;
    border: none;
    padding: 1rem;
    flex-grow: 1;
    border-radius: $article-radius;
    font-weight: bold;
}

.active {
    background-color: $color-primary;
    color: white;
  }